services:
  cli-proxy-api:
    image: eceasy/cli-proxy-api:latest
    container_name: cli-proxy-api
    ports:
      - "8317:8317"
      - "8085:8085"
      - "1455:1455"
      - "54545:54545"
      - "11451:11451"
    volumes:
      - ${PWD}/config.yaml:/CLIProxyAPI/config.yaml:ro
      - ${PWD}/auths:/root/.cli-proxy-api
      - ${PWD}/logs:/CLIProxyAPI/logs
    restart: unless-stopped


